:root {
  --alert-transition-duration: 0.2s;
}

.alert {
  @apply
    rounded-md
    p-5;

    &--info {
      @apply
        text-text-800
        dark:text-info-200
        bg-info-200
        dark:bg-info-500/50
        border-info-400
        dark:border-info-500
    }
    &--danger {
      @apply
        text-text-800
        dark:text-danger-200
        bg-danger-300
        dark:bg-danger-500/50
        border-danger-400
        dark:border-danger-500
    }
    &--warn {
      @apply
        text-text-800
        dark:text-warn-200
        bg-warn-400/70
        dark:bg-warn-500/50
        border-warn-400
        dark:border-warn-500
    }
    &--success {
      @apply
        text-text-800
        dark:text-success-200
        bg-success-300
        dark:bg-success-500/50
        border-success-400
        dark:border-success-500
    }
    &--outline {
      @apply
        text-text-800
        dark:text-text-300
        bg-secondary-100
        dark:bg-dark-700 !important
    }
    &--marked {
      @apply 
        border-0 
        border-l-8 !important
    }
    &--transparent {
      @apply 
        bg-transparent
        dark:bg-transparent
    }
    &--shadowed {
      @apply
        shadow-lg
        dark:shadow-black/20
    }
    &--bold {
      @apply
        font-semibold
    }
    &--dense {
      @apply
        px-4
        py-2
    }

    &__icon {
      @apply
        w-6
        h-6
        mr-4
    }
}
