.breadcrumb {
    @apply
      underline
      text-text-500
      dark:text-text-300;

  &__separator {
    @apply
      mx-2
      text-text-500 
      dark:text-text-300
  }

  &__icon {
    @apply
      w-6
      h-6
      ml-2
      text-text-400
      dark:text-gray-300
  }

  &__active {
    @apply
      text-text-700 
      dark:text-text-300
  }
}
