.plain-button {
  @apply 
    focus:outline-none
    text-text-600
    dark:text-text-300;

    &--bold {
      @apply
        font-semibold
    }
    &--light {
      @apply
        text-text-100
        dark:text-text-100
    }
    &--dark {
      @apply
        text-text-800
        dark:text-text-800
    }
}

.button {
  @apply
    rounded
    text-sm
    sm:text-base
    font-medium
    transition-shadow
    transition-opacity
    duration-150
    focus:outline-none
    focus:ring-4
    px-4
    py-2.5
    text-text-100
    bg-primary-500
    dark:bg-primary-500
    hover:bg-primary-600
    dark:hover:bg-primary-600
    border-primary-700
    focus:ring-primary-200;

    &--primary {
      @apply
        bg-primary-500
        dark:bg-primary-500
        hover:bg-primary-600
        dark:hover:bg-primary-600
        border-primary-700
        focus:ring-primary-200
    }
    &--secondary {
      @apply
        bg-secondary-500
        dark:bg-secondary-500
        hover:bg-secondary-600
        dark:hover:bg-secondary-600
        border-secondary-700
        focus:ring-secondary-200
    }
    &--warn {
      @apply
        text-text-800
        bg-warn-400
        dark:bg-warn-400
        hover:bg-warn-500
        dark:hover:bg-warn-500
        border-warn-600
        focus:ring-warn-200
    }
    &--success {
      @apply
        text-text-800
        bg-success-400
        dark:bg-success-400
        hover:bg-success-500
        dark:hover:bg-success-500
        border-success-600
        focus:ring-success-200
    }
    &--danger {
      @apply
        text-text-800
        bg-danger-400
        dark:bg-danger-400
        hover:bg-danger-500
        dark:hover:bg-danger-500
        border-danger-600
        focus:ring-danger-200
    }
    &--pink {
      @apply
        bg-pink-500
        hover:bg-pink-600
        focus:ring-pink-200
    }
    &--large {
      @apply
        py-3.5
    }
    &--small {
      @apply
        py-1
    }
    &--tiny {
      @apply
        py-0.5
        text-sm
    }
    &--raised {
      @apply
        border-b-4
        rounded-md
    }
    &--square {
      @apply
        rounded-none
    }
    &--circle {
      @apply
        rounded-full
        p-4 !important
    }
    &--equal {
      @apply
        p-2 !important
    }
    &--pill {
      @apply
        rounded-full
    }
    &--uppercase {
      @apply
        uppercase
    }
}
