  .card {
    @apply
      border
      rounded-md
      dark:text-text-300
      bg-white
      dark:bg-dark-800
      border-secondary-200
      dark:border-dark-700;

      &--menu {
        @apply
          py-2
      }
      &--popover {
        @apply
          p-5
      }
      &--shadow {
        @apply
          shadow-md
          dark:shadow-lg
          dark:shadow-black/30
      }
      &--square {
        @apply
          rounded-none
      }
      &--borderless {
        @apply
          border-0
      }
      &--hoverable {
        @apply
          hover:shadow-lg
          transition-all
          hover:scale-105
      }
      &--rounded-extra {
        @apply
          rounded-xl
      }
      &--transparent {
        @apply
          bg-transparent
          dark:bg-transparent
      }
  }

  .flat-card {
    @apply
      dark:text-text-300
      bg-secondary-100
      dark:bg-dark-800;

      &--rounded {
        @apply
          rounded-md
      }
      &--shadow {
        @apply
          shadow-md
          dark:shadow-lg
          dark:shadow-black/30
      }
      &--menu {
        @apply
          py-2
      }
    }
