.close-button {
  @apply
    w-5
    h-5
    opacity-90
    text-current
    dark:text-current;

    &--small {
      @apply
        w-4
        h-4
    }

    &__wrapper {
    }
  }

.round-close-button {
  @apply
    w-4
    h-4
    text-text-500
    dark:text-text-700;

    &--small {
      @apply
        w-2
        h-2
    }

    &__wrapper {
      @apply
        rounded-full
        p-1
        bg-white
        dark:bg-dark-100
    }
}
