.datepicker-day-fixed {
  @apply
    cursor-pointer
    rounded
    text-sm
    font-semibold
    py-1
    mx-1
    my-1
    dark:text-text-300
}

.datepicker {
  @apply
    text-center
    text-text-800
    dark:text-text-300
    bg-white
    dark:bg-dark-800;

  &__button {
    @apply
      rounded
      focus:ring-2
      py-1
      px-2
      focus:ring-primary-200
      dark:focus:ring-primary-400
  }

  &__weekday-bar {
    @apply
       mb-2
  }

  &__weekday {
    @apply
      text-sm 
      font-semibold 
      dark:text-text-300
  }

  &__day {
    @apply
      datepicker-day-fixed;
    @apply
      hover:bg-secondary-100
      dark:hover:bg-dark-700;

      &--today {
        @apply  
          font-bold
          text-primary-400
          dark:text-primary-400
      }
      &--marked {
        @apply  
          font-bold
          text-danger-400
          dark:text-danger-400
      }
      &--partially-selected-state {
        @apply
          font-semibold
          text-text-800
          dark:text-text-300
          bg-secondary-300
          dark:bg-dark-700
      }
      &--selected-state {
        @apply
          font-semibold
          text-white
          dark:text-text-200
          bg-primary-400
          dark:bg-primary-500
          hover:bg-primary-600
          dark:hover:bg-primary-700
      }
  }

  &__adjacent-month-day {
    @apply
      datepicker-day-fixed;
    @apply  
      pointer-events-none
      text-text-800/10
      dark:text-text-200/10
  }

  &__footer {
    @apply
      text-sm
      font-semibold
      py-1
      dark:text-text-300
      bg-secondary-100
      dark:bg-dark-700
  }
}
