:root {
  --dropdown-transition-duration: 0.2s;
  --dropdown-transition-slide: -15px;
  --dropdown-transition-scale: 0.2;
}

.dropdown {
  &__item {
    @apply
      w-full
      text-left
      text-sm
      focus:outline-none
      pr-4
      px-6
      py-3
      my-1
      text-text-800
      focus:text-white
      hover:bg-secondary-100
      focus:bg-primary-500
      dark:text-text-300
      dark:focus:text-white
      dark:hover:bg-dark-700
      dark:focus:bg-primary-500;

      &--active-state {
        @apply
          text-white
          bg-primary-500
          hover:bg-primary-600
          dark:text-white
          dark:bg-primary-500
          dark:hover:bg-primary-600
      }
  }

  &__header {
    @apply
      text-left
      font-semibold
      text-sm
      uppercase
      px-6
      py-2
      opacity-70
      text-text-800/80
      dark:text-text-300
  }
}

.relaxed-dropdown {
  &__item {
    @apply
      w-11/12
      focus:outline-none
      rounded
      text-sm
      text-left
      px-4 
      py-4
      my-1
      text-text-800
      focus:text-white
      hover:bg-secondary-100
      focus:bg-primary-500
      dark:text-text-300
      dark:focus:text-white
      dark:hover:bg-dark-700
      dark:focus:bg-primary-500;

      &--active-state {
        @apply
          text-white
          bg-primary-500
          hover:bg-primary-600
          dark:text-white
          dark:bg-primary-500
          dark:hover:bg-primary-600
      }
  }

  &__header {
    @apply
      w-11/12
      text-left
      font-semibold
      text-sm
      uppercase
      px-4
      py-4
      my-1
      opacity-70
      text-text-800/80
      dark:text-text-300
  }
}

.flat-dropdown {
  &__item {
    @apply
      text-left
      w-full
      focus:outline-none
      px-5
      py-3
      text-text-800
      focus:text-white
      hover:bg-secondary-100
      focus:bg-primary-400
      dark:text-text-300
      dark:focus:text-white
      dark:hover:bg-dark-600
      dark:focus:bg-primary-400;

      &--active-state {
        @apply
          text-white
          bg-primary-500
          hover:bg-primary-600
          dark:text-white
          dark:bg-primary-500
          dark:hover:bg-primary-600
      }
  }

  &__header {
    @apply
      text-left
      font-semibold
      px-5
      py-4
      text-text-600
      dark:text-text-300/60
  }
}
