.material-list {
    &--round {
      @apply
        rounded-md
    }
    &--borderless {
      @apply
        border-0
    }

    &__item {
      @apply
        border
        shadow-md
        transition-all
        p-2
        px-4
        my-1
        border-gray-100
        hover:bg-gray-50
        dark:bg-dark-800
        dark:border-dark-700
        dark:shadow-black/20
        dark:hover:bg-dark-700;

        &--active-state {
          @apply
            border-l-4
            text-white
            border-blue-600
            bg-blue-500
            hover:bg-blue-600
            dark:bg-blue-500
            dark:border-blue-600
            dark:hover:bg-blue-600
        }
    }
}

.list {
  @apply
    border
    divide-y
    rounded-md
    overflow-hidden
    divide-secondary-200
    dark:bg-dark-800
    dark:border-dark-700
    dark:divide-dark-700;

    &--square {
      @apply
        rounded-none
    }
    &--borderless {
      @apply
        border-0
    }

    &__item {
      @apply
        py-4
        px-4
        hover:bg-secondary-50
        dark:hover:bg-dark-700;

        &--active-state {
          @apply
            text-white
            bg-info-500
            hover:bg-info-600
            dark:bg-info-500
            dark:hover:bg-info-600
        }
    }
}
