@import "backdrop.css";

:root {
  --modal-transition-duration: 0.2s;
}

.modal {
  @apply
    shadow-lg
    rounded-md
    text-text-800
    dark:text-text-300
    bg-white
    dark:bg-dark-800;

    &--square {
      @apply
        rounded-none
    }
    &--no-shadow {
      @apply
        shadow-none
    }

    &__header {
      @apply
        text-lg
        leading-6
        font-medium
        px-6
        py-6
        text-text-800
        dark:text-text-300
        bg-secondary-50
        dark:bg-dark-800
    }

    &__footer {
      @apply
        px-6
        py-6
    }

    &__content {
      @apply
        px-6
        py-5;

        &--relaxed {
          @apply
            px-9
            py-8
        }
    }
}
