:root {
  --notify-transition-duration: 0.4s;
}

.notify {
  @apply
    p-4
    rounded-md
    /* border */
    shadow-lg
    border-b-4
    text-sm
    dark:shadow-black/30
    dark:text-secondary-300
    dark:bg-dark-800
    dark:border-dark-700;

    &--info {
      @apply
        dark:border-info-400
    }
    &__header {
      @apply
        px-4
        font-semibold
    }
    &__icon {
      @apply
        h-6
        w-6
        dark:text-secondary-300;

        &--info {
          @apply
            dark:text-info-400
        }
    }
    &__content {
      @apply
        mt-2
        px-4
        dark:text-secondary-300
    }
}
