.pagination {
  &-page-fixed {
    @apply
      border
      text-sm
      font-semibold
      rounded
      w-12
      h-10
      mx-0.5
      hover:bg-secondary-50
      border-secondary-300
      dark:text-text-300
      dark:hover:bg-dark-700
      dark:border-dark-700
  }

  &-side-controls-fixed {
    @apply
      border
      text-sm
      font-medium
      cursor-pointer
      rounded
      w-12
      p-2
      hover:bg-secondary-50
      border-secondary-300
      dark:text-text-300
      dark:hover:bg-dark-700
      dark:border-dark-700
  }

  &__pagination-bar {
    @apply
      rounded-md
  }

  &__page {
    @apply
      pagination-page-fixed;

      &--active-state {
        @apply  
          ring-2
          font-semibold
          text-white
          bg-primary-500
          hover:bg-primary-400
          border-primary-200
          ring-primary-200
          dark:text-text-100
          dark:bg-primary-500
          dark:hover:bg-primary-300
          dark:border-primary-500
          dark:ring-primary-100
      }
  }

  &__dots {
    @apply
      pagination-page-fixed;
    @apply
      tracking-wider
  }

  &__next {
    @apply
      pagination-side-controls-fixed;
    @apply  
      rounded-r-md
      ml-0.5
  }

  &__prev {
    @apply
      pagination-side-controls-fixed;
    @apply  
      rounded-l-md
      mr-0.5
  }
}

.flat-pagination {
  &-page-fixed {
    @apply
      text-sm
      font-semibold
      rounded
      w-12
      h-10
      mx-0.5
      hover:bg-secondary-50
      border-secondary-300
      dark:text-text-300
      dark:hover:bg-dark-700
      dark:border-dark-700
  }

  &-side-controls-fixed {
    @apply
      text-sm
      font-medium
      cursor-pointer
      rounded
      w-12
      p-2
      hover:bg-secondary-50
      border-secondary-300
      dark:text-text-300
      dark:hover:bg-dark-700
      dark:border-dark-700
  }

  &__pagination-bar {
    @apply
      rounded-md
  }

  &__page {
    @apply
      flat-pagination-page-fixed;

      &--active-state {
        @apply  
          font-semibold
          text-white
          bg-primary-500
          hover:bg-primary-400
          border-primary-200
          ring-primary-200
          dark:text-text-100
          dark:bg-primary-500
          dark:hover:bg-primary-300
          dark:border-primary-500
          dark:ring-primary-100
      }
  }

  &__dots {
    @apply
      flat-pagination-page-fixed;
    @apply
      hover:bg-transparent
      dark:hover:bg-transparent
      tracking-widest
  }

  &__next {
    @apply
      flat-pagination-side-controls-fixed;
    @apply  
      rounded-r-md
      ml-0.5
  }

  &__prev {
    @apply
      flat-pagination-side-controls-fixed;
    @apply  
      rounded-l-md
      mr-0.5
  }
}
