:root {
  --popover-transition-duration: 0.2s;
  --popover-transition-slide: -15px;
  --popover-transition-scale: 0.2;
}

.popover {
  &__header {
    @apply
      font-semibold
      py-2
      px-3
  }
}
