/* POPOVER */

.default {
  &.popover {
    @apply
      border
      rounded-md
      overflow-hidden
      shadow-md
      dark:shadow-lg
      dark:shadow-black/30
      bg-white
      border-secondary-300
      dark:text-text-300
      dark:bg-dark-800
      dark:border-dark-700
  }

  &.popover--content {
    @apply
      p-5
  }

  /* POPOVER PLAIN */

  &.popover-plain {
    @apply
      overflow-hidden
      shadow-lg
      bg-secondary-50
      dark:text-text-300
      dark:bg-dark-700
      dark:shadow-lg
      dark:shadow-black/30
  }

  &.popover-plain--content {
    @apply
      p-7
  }
}
