.progress {
  @apply
    rounded
    overflow-hidden
    h-4
    bg-secondary-100
    dark:bg-dark-700;

    &--rounded {
      @apply
        rounded-full
    }
    &--transparent {
      @apply
        bg-transparent
        dark:bg-transparent
    }
    &--tiny {
      @apply
        h-1
    }

    &__progress-bar {
      --progress-bar-timing: linear;
      --progress-bar-speed: 1.5s;
      --progress-bar-width: 50%;
      --progress-bar-direction: normal;
      @apply
        bg-primary-500
        dark:bg-primary-500;

        &--rounded {
          @apply
            rounded-full
        }
        &--red {
          @apply
            bg-danger-500
            dark:bg-danger-500
        }
        &--gradient {
          @apply
            bg-gradient-to-r
            from-yellow-400
            via-orange-500
            to-red-500
        }
        &--alternate {
          --progress-bar-timing: ease-in-out;
          --progress-bar-speed: 1.4s;
          --progress-bar-width: 50%;
          --progress-bar-direction: alternate;
        }
    }

    &__label {
      @apply
        text-xs
        font-bold
        text-white
    }
}
