/* RANGE */

.range {
  @apply
    rounded
    focus:outline-none
    focus:ring
    outline-none
    border-secondary-300
    focus:border-secondary-400
    focus:ring-primary-200
}
    .range--valid-state {
      @apply
        border-success-300
        focus:ring-success-200
    }
    .range--invalid-state {
      @apply
        border-danger-300
        focus:ring-danger-200
    }
