:root {
  --sidepanel-transition-duration: 0.2s;
}

  .sidepanel {
    @apply
      text-left
      shadow-lg
      shadow-black/40
      dark:text-text-300
      bg-secondary-100
      dark:bg-dark-700;
  }
