.spinner {
  @apply
    h-8
    w-8
    text-primary-500;

    &--primary {
      @apply
        text-primary-500
    }
    &--secondary {
      @apply
        text-secondary-300
    }
    &--warn {
      @apply
        text-warn-500
    }
    &--success {
      @apply
        text-success-500
    }
    &--light {
      @apply
        text-text-200
    }
    &--large {
      @apply
        h-20
        w-20
    }
    &--small {
      @apply
        h-5
        w-5
    }

    &__container {
      --spinner-border-speed: 0.75s;
      --spinner-svg-speed: 1s;
      @apply 
        inline-block;
    }
}
