.table {
  @apply
    border-collapse
    text-left;

    &--fixed-layout {
      @apply
        table-fixed
    }
    &--busy-state {

    }

    &__header-row {
    }

    &__header-cell {
      @apply
        font-semibold
        border-b
        py-2
        px-2
        dark:text-text-200
        border-secondary-300
        dark:border-dark-700;

        &--bordered {
          @apply
            border
        }
        &--dark {
          @apply
            text-white
            bg-secondary-700
        }
        &--light {
          @apply
            bg-secondary-100
        }
    }

    &__row {
      &--striped {
        @apply
          even:bg-secondary-50
      }
    }

    &__cell {
      @apply
        border-t
        transition-colors
        duration-200
        py-2
        px-2
        border-secondary-300
        dark:border-dark-700 !important;

        &--bordered {
          @apply
            border
            py-2
            px-2
            border-secondary-300
        }
        &--selected-state {
          @apply
            bg-slate-300
            dark:bg-slate-700
        }
    }

    &__caption {
      @apply
        text-left
        py-2
        text-text-600
        dark:text-text-300
    }
}
