:root {
  --tabs-transition-duration: 0.2s;
}

.material-tabs {
  &__tab {
    @apply
      -mb-px
      p-3
      px-4
      transition-colors
      border-b-2
      border-transparent
      duration-200
      font-semibold
      hover:bg-secondary-50
      hover:dark:bg-dark-700;

      &--active-state {
        @apply
          shadow-none
          border-b-2
          border-primary-500
      }
  }

  &__tab-bar {
    @apply
      dark:border-dark-700
  }
}

.rounded-tabs {
  &__tab-bar {
  }

  &__tab {
    @apply
      rounded-md
      whitespace-nowrap
      overflow-ellipsis
      transition-all
      duration-200
      p-2
      px-4
      mr-2
      hover:bg-secondary-50
      border-secondary-300
      dark:text-text-300/80
      dark:hover:bg-dark-700;

      &--small {
        @apply
          py-1
          px-2
      }
      &--active-state {
        @apply
          shadow-none
          text-white
          bg-primary-400
          hover:bg-primary-300
          dark:text-white
          dark:bg-primary-500
          dark:hover:bg-primary-500
      }
  }
}

.tabs {
  &__tab-bar {
    @apply
      border-b
      pl-2
      dark:border-dark-600
  }

  &__tab {
    @apply
      rounded-t-md
      whitespace-nowrap
      overflow-ellipsis
      border
      -mb-px
      -ml-px
      transition-all
      duration-200
      p-2
      px-4
      bg-secondary-100
      hover:bg-secondary-50
      border-secondary-300
      dark:text-text-300/80
      dark:bg-dark-900
      dark:hover:bg-dark-800
      dark:border-dark-600;

      &--small {
        @apply
          py-1
          px-2
      }
      &--active-state {
        @apply
          shadow-none
          bg-white
          hover:bg-white
          border-b-transparent
          dark:text-text-300
          dark:bg-dark-800
          dark:hover:bg-dark-800
          dark:border-b-transparent
      }
  }
}
