.textarea {
  @apply
    rounded
    border
    focus:outline-none
    focus-within:ring
    outline-none
    transition-shadow
    duration-200
    bg-white
    border-secondary-300
    focus-within:border-secondary-400
    focus-within:ring-primary-200
    dark:text-text-300
    dark:bg-dark-800
    dark:border-dark-600
    dark:focus-within:ring-primary-300;

    &--valid-state {
      @apply
        text-success-600
        border-success-300
        focus-within:ring-success-200
        dark:text-success-600
        dark:border-success-400
        dark:focus-within:ring-success-300
    }
    &--invalid-state {
      @apply
        text-danger-600
        border-danger-300
        focus-within:ring-danger-200
        dark:text-danger-600
        dark:border-danger-400
        dark:focus-within:ring-danger-300
    }

    &__label {
      @apply
        text-sm
        pb-1
    }
}

.underlined-textarea {
  @apply
    border-0 
    border-b-2 
    focus-within:ring-0 
    px-0.5
    bg-transparent
    focus-within:border-black
    border-secondary-200
    dark:text-dark-300
    dark:border-dark-500;

    &--valid-state {
      @apply
        text-success-600
        border-success-300
        focus-within:ring-success-200
        dark:text-success-600
        dark:border-success-400
        dark:focus-within:ring-success-300
    }
    &--invalid-state {
      @apply
        text-danger-600
        border-danger-300
        focus-within:ring-danger-200
        dark:text-danger-600
        dark:border-danger-400
        dark:focus-within:ring-danger-300
    }

    &__label {
      @apply
        text-sm
        pb-1
    }
}
