h3 {
  @apply text-4xl;
  @apply font-semibold;
}
h4 {
  @apply text-2xl;
  @apply font-semibold;
}
h5 {
  @apply text-xl;
  @apply font-semibold;
}
h6 {
  @apply text-lg;
  @apply font-semibold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.example {
  margin-top: 2em;
}
pre {
  @apply whitespace-normal my-5;
}
pre code {
  @apply whitespace-pre;
}
>>> .code-word {
  @apply text-sm bg-indigo-200 rounded p-1 mr-1;
}
>>> code {
  @apply text-sm;
}
label {
  @apply mr-2;
}
>>>  a.link {
  @apply underline text-blue-400;
}
