html {
  @apply
    text-text-800
    dark:text-text-300
}

.disabled {
  @apply 
    text-opacity-50
    dark:text-opacity-50
    pointer-events-none
}

.match {
  @apply
    font-semibold
    bg-secondary-100
    dark:bg-dark-600
}
