.disabled {
  @apply 
    opacity-50
}

/* ICON */

.v-icon {
  @apply
    w-4
    h-4
}
  .v-icon--sm {
    @apply
      h-2
      w-2
  }
  .v-icon--md {
    @apply
      h-6
      w-6
  }
  .v-icon--lg {
    @apply
      h-8
      w-8
  }
 .v-icon--info-type {
    @apply
      text-blue-500
  }
  .v-icon--danger-type {
    @apply
      text-red-500
  }
  .v-icon--success-type {
    @apply
      text-green-500
  }
  .v-icon--warn-type {
    @apply
      text-yellow-500
  }
  .v-icon--valid-type {
    @apply
      text-green-500
  }
  .v-icon--invalid-type {
    @apply
      text-red-500
  }
  .v-icon--light-type {
    @apply
      text-gray-500
  }

/* BUTTON PLAIN */

.button-plain {
  @apply 
    focus:outline-none
    font-semibold
}
  .button-plain--light {
    @apply
      text-slate-500
  }

/* BUTTON */

.button {
  @apply
    rounded
    text-sm
    sm:text-base
    font-medium
    focus:outline-none
    focus:ring-4
    focus:ring-indigo-200
    text-gray-100
    bg-indigo-500
    hover:bg-indigo-600
    px-4
    py-2
    border-indigo-500
}
    .button--primary {
      @apply
        bg-indigo-500
        border-indigo-500
        hover:bg-indigo-600
        focus:ring-indigo-200
    }
    .button--secondary {
      @apply
        bg-gray-500
        border-gray-500
        hover:bg-gray-600
        focus:ring-gray-200
    }
    .button--warn {
      @apply
        bg-yellow-500
        hover:bg-yellow-600
        focus:ring-yellow-200
    }
    .button--success {
      @apply
        bg-green-500
        hover:bg-green-600
        focus:ring-green-200
    }
    .button--danger {
      @apply
        bg-red-500
        hover:bg-red-600
        focus:ring-red-200
    }
    .button--pink {
      @apply
        bg-pink-500
        hover:bg-pink-600
        focus:ring-pink-200
    }
    .button--large {
      @apply
        py-2.5
    }
    .button--small {
      @apply
        py-1
    }
    .button--tiny {
      @apply
        py-0.5
        text-sm
    }
    .button--square {
      @apply
        rounded-none
    }
    .button--pill {
      @apply
        rounded-full
    }
    .button--uppercase {
      @apply
        uppercase
    }
    .button--disabled-state {
      @apply
        disabled
        pointer-events-none
    }

/* TABS */

.tabs--tab-bar {
  @apply
    border-b
    pl-2
}

.tabs--tab {
  @apply
    rounded-t-md
    whitespace-nowrap
    overflow-ellipsis
    no-underline
    border
    border-gray-300
    bg-gray-100
    hover:bg-gray-50
    -mb-px
    -ml-px
    p-2
    px-4
}
    .tabs--tab--small {
      @apply
        py-1
        px-2
    }
    .tabs--tab--active-state {
      @apply
        bg-white
        hover:bg-white
        shadow-none;
      border-bottom-color: transparent;
    }

/* TABLE */

.table {
  @apply
    bg-white
    border-collapse
    text-left
}
    .table--fixed-layout {
      @apply
        table-fixed
    }
    .table--busy-state {
      @apply
        disabled
    }

.table--header-row {

}

.table--header-cell {
  @apply
    border-b
    border-gray-300
    py-2
    px-2
}
    .table--header-cell--bordered {
      @apply
        border
    }
    .table--header-cell--dark {
      @apply
        bg-gray-700
        text-white
    }
    .table--header-cell--light {
      @apply
        bg-gray-100
    }

.table--row {
}
    .table--row--striped {
      @apply
        even:bg-gray-50
    }

.table--cell {
  @apply
    border-t
    border-gray-300
    transition
    duration-200
    py-2
    px-2
    pr-6
}
    .table--cell--bordered {
      @apply
        border
        border-gray-300
        py-2
        px-2
        pr-6
    }
    .table--cell--selected-state {
      @apply
        bg-slate-300
    }

.table--caption {
  @apply
    text-gray-600
    text-left
    py-2
}

/* LIST */

.list {
  @apply
    border
    divide-y
    divide-gray-200
    rounded-md
    overflow-hidden
}
    .list--square {
      @apply
        rounded-none
    }
    .list--borderless {
      @apply
        border-0
    }

.list--item {
  @apply
    hover:bg-gray-50
    p-2
    px-4
}
    .list--item--active-state {
      @apply
        bg-blue-500
        hover:bg-blue-600
        text-white
    }

/* PROGRESS */

.progress {
  @apply
    bg-gray-100
    rounded
    overflow-hidden
    h-4
}
    .progress--rounded {
      @apply
        rounded-full
    }
    .progress--transparent {
      @apply
      bg-transparent
    }
    .progress--tiny {
      @apply
        h-1
    }

.progress--progress-bar {
  @apply
    bg-indigo-500
}
    .progress--progress-bar--rounded {
      @apply
        rounded-full
    }
    .progress--progress-bar--red {
      @apply
        bg-red-500
    }
    .progress--progress-bar--gradient {
      @apply
        bg-gradient-to-r
        from-yellow-400
        via-red-500
        to-pink-500
    }

.progress--label {
  @apply
    text-xs
    text-white
    font-bold
}

/* BREADCRUMB */

.breadcrumb {
  @apply
    text-blue-500
    underline
}

.breadcrumb--separator {
  @apply
    text-gray-500 
    mx-3
}

.breadcrumb--active {
  @apply
    text-gray-700 
}

/* FORMTEXT */

.form-text {
  @apply
    text-sm
    text-gray-600
    mt-1
}
    .form-text--valid-state {
      @apply
        text-green-600
    }
    .form-text--invalid-state {
      @apply
        text-red-600
    }

/* SELECT */

.select {
  @apply
    rounded
    border
    bg-white
    border-gray-300
    focus:outline-none
    focus:ring
    focus:ring-indigo-200
    focus:border-gray-400
    outline-none
    overflow-y-auto
}
    .select--valid-state {
      @apply
        border-green-300
        focus:ring-green-200
    }
    .select--invalid-state {
      @apply
        border-red-300
        focus:ring-red-200
    }
    .select--disabled-state {
      @apply
        disabled
    }

/* RANGE */

.range {
  @apply
    rounded
    bg-white
    border-gray-300
    focus:outline-none
    focus:ring
    focus:ring-indigo-200
    focus:border-gray-400
    outline-none
}
    .range--valid-state {
      @apply
        border-green-300
        focus:ring-green-200
    }
    .range--invalid-state {
      @apply
        border-red-300
        focus:ring-red-200
    }
    .range--disabled-state {
      @apply
        disabled
    }

/* RADIO */

.radio {
  @apply
    border
    bg-white
    border-gray-300
    text-indigo-500
    focus:border-gray-400
    focus:ring
    focus:ring-indigo-200
    focus:ring-offset-0
    focus:outline-none
    transform
    scale-110
    outline-none
    transition-all
    duration-150
}
    .radio--valid-state {
      @apply
        text-green-500
        border-green-300
        focus:ring-green-200
    }
    .radio--invalid-state {
      @apply
        text-red-500
        border-red-300
        focus:ring-red-200
    }
    .radio--disabled-state {
      @apply
        disabled
    }

/* CHECKBOX */

.checkbox {
  @apply
    rounded
    border
    bg-white
    border-gray-300
    text-indigo-500
    focus:border-gray-400
    focus:ring
    focus:ring-indigo-200
    focus:ring-offset-0
    focus:outline-none
    transform
    scale-110
    outline-none
    transition-all
    duration-150
}
    .checkbox--valid-state {
      @apply
        text-green-500
        border-green-300
        focus:ring-green-200
    }
    .checkbox--invalid-state {
      @apply
        text-red-500
        border-red-300
        focus:ring-red-200
    }
    .checkbox--disabled-state {
      @apply
        disabled
    }

/* INPUT ROUNDED */

.input-rounded {
  @apply
    rounded-full
    border-0
    border-gray-300
    focus:outline-none
    focus:ring
    focus:ring-indigo-200
    focus:border-gray-400
    outline-none
    transition
    duration-200
    bg-neutral-100
    dark:bg-neutral-700
    dark:border-neutral-500
    dark:text-neutral-300
    dark:focus:ring-indigo-300
    pl-4
}
    .input-rounded--valid-state {
      @apply
        border-green-300
        focus:ring-green-200
    }
    .input-rounded--invalid-state {
      @apply
        border-red-300
        focus:ring-red-200
    }
    .input-rounded--disabled-state {
      @apply
        disabled
    }

/* INPUT UNDERLINED */

.input-underline {
  @apply
    block
    w-full
    px-0.5
    border-0 
    border-b-2 
    border-gray-200
    focus:ring-0 
    focus:border-black
}
    .input-underline--valid-state {
      @apply
        border-green-300
    }
    .input-underline--invalid-state {
      @apply
        border-red-300
    }
    .input-underline--disabled-state {
      @apply
        disabled
    }


/* INPUT */

.input {
  @apply
    rounded
    border
    bg-white
    border-gray-300
    focus:outline-none
    focus:ring
    focus:ring-indigo-200
    focus:border-gray-400
    outline-none
    transition
    duration-200
    placeholder:italic 
    placeholder:text-slate-400
}
    .input--icon {
      @apply
        pl-8
    }
    .input--valid-state {
      @apply
        text-green-600
        border-green-300
        focus:ring-green-200
    }
    .input--invalid-state {
      @apply
        text-red-600
        border-red-300
        focus:ring-red-200
    }
    .input--disabled-state {
      @apply
        disabled
    }

/* TEXTAREA */

.textarea {
  @apply
    rounded
    border
    bg-white
    border-gray-300
    focus:outline-none
    focus:ring
    focus:ring-indigo-200
    focus:border-gray-400
    outline-none
    py-1
    px-3
}
    .textarea--valid-state {
      @apply
        border-green-300
        focus:ring-green-200
    }
    .textarea--invalid-state {
      @apply
        border-red-300
        focus:ring-red-200
    }
    .textarea--disabled-state {
      @apply
        disabled
    }

/* ALERT */

.alert {
  @apply
    border
    border-l-4
    rounded
    font-semibold
    p-4
}
.alert--info {
      @apply
        bg-blue-300
        text-blue-900
        border-blue-400
        /* dark:bg-blue-500 */
        /* dark:text-gray-200 */
        /* dark:border-blue-600 */
    }
    .alert--danger {
      @apply
        bg-red-300
        text-red-900
        border-red-400
        /* dark:bg-red-500 */
        /* dark:text-gray-200 */
        /* dark:border-red-600 */
    }
    .alert--warn {
      @apply
        bg-yellow-300
        text-yellow-900
        border-yellow-400
        /* dark:bg-yellow-500 */
        /* dark:text-gray-200 */
        /* dark:border-yellow-600 */
    }
    .alert--success {
      @apply
        bg-green-50
        text-green-600
        border-green-200
    }
    .alert--light {
      @apply
        bg-gray-50
        text-gray-600
        border-gray-200
    }
    .alert--outline {
      @apply
        text-gray-800
        bg-white !important
    }
    .alert--borderless {
      @apply 
      border-0 
      border-l-8 !important
    }
    .alert--shadowed {
      @apply
        shadow-md
    }
    .alert--dense {
      @apply
        px-4
        py-1
    }

/* NAVBAR */

.navbar {
  @apply
    w-full
    bg-gray-100
    shadow-md
}
    .navbar--bottom {
      @apply
        border-t
    }

/* CLOSEBUTTON */

.close-button {
  @apply
    text-gray-500
    w-5
    h-5
}
    .close-button--small {
      @apply
        w-4
        h-4
    }

/* CHEVRON */

.chevron {
  @apply
    w-4
    h-4
}
  .chevron--right {
    @apply
      ml-2
  }

/* DIVIDER */

.divider {
  @apply
    my-1
}

/* SIDEPANEL */

.sidepanel {
  @apply
    bg-gray-100
    text-left;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
}

/* MODAL */

.modal {
  @apply
    bg-white
    shadow-lg
    rounded-md
    text-gray-900
}
    .modal--square {
      @apply
        rounded-none
    }
    .modal--no-shadow {
      @apply
        shadow-none
    }

.modal--header {
  @apply
    bg-gray-50
    text-gray-900
    text-lg
    leading-6
    font-medium
    px-6
    py-6
}

.modal--footer {
  @apply
    px-6
    py-6
}

.modal--content {
  @apply
    px-6
    py-5
}
    .modal--content--relaxed {
      @apply
        px-9
        py-8
    }
    .modal--content--edge-to-edge {
      @apply
        px-0
        py-0
    }

.modal--backdrop {
  @apply
    bg-black
    opacity-50
}

/* CARD */

.card {
  @apply
    bg-white
    border
    border-gray-200
    rounded-md
    overflow-hidden
}
    .card--menu {
      @apply
        py-2
    }
    .card--shadow {
      @apply
        shadow-md
    }
    .card--square {
      @apply
        rounded-none
    }
    .card--borderless {
      @apply
        border-0
    }
    .card--hoverable {
      @apply
        hover:shadow-lg
        transition-all
    }
    .card--rounded-extra {
      @apply
        rounded-lg
    }

/* CARD FLAT */

.card-flat {
  @apply
    bg-white
    shadow
    overflow-hidden
}
    .card-flat--rounded {
      @apply
        rounded
    }
    .card-flat--shadow {
      @apply
        shadow-md
    }

/* DROPDOWN */

.dropdown--item {
  @apply
    w-full
    text-left
    text-sm
    focus:outline-none
    text-gray-700
    hover:bg-gray-100
    focus:bg-indigo-500
    focus:text-white
    pr-4
    px-6
    py-2
}
    .dropdown--item--active-state {
      @apply
        text-white
        bg-indigo-500
        hover:bg-indigo-600
    }
    .dropdown--item--disabled-state {
      @apply
        disabled
        pointer-events-none
    }

.dropdown--header {
  @apply
    text-left
    font-semibold
    text-sm
    px-6
    py-2
}

/* DROPDOWN RELAXED */

.dropdown-relaxed--item {
  @apply
    w-11/12
    hover:bg-gray-100
    focus:bg-indigo-500
    focus:text-white
    focus:outline-none
    rounded
    text-sm
    text-gray-700
    text-left
    mx-auto
    px-4 
    py-2
    my-1
}
    .dropdown-relaxed--item--active-state {
      @apply
        text-white
        bg-indigo-500
        hover:bg-indigo-600
    }
    .dropdown-relaxed--item--disabled-state {
      @apply
        disabled
        pointer-events-none
    }

.dropdown-relaxed--header {
  @apply
    w-11/12
    text-left
    font-semibold
    text-sm
    mx-auto
    px-4
    py-2
    my-1
    uppercase
}

/* DROPDOWN FLAT */

.dropdown-flat--item {
  @apply
    text-left
    w-full
    focus:outline-none
    px-5
    py-3
    text-gray-700
    hover:bg-gray-100
    focus:bg-indigo-400
    focus:text-white
}

.dropdown-flat--header {
  @apply
    text-left
    font-semibold
    text-gray-600
    px-5
    py-4
}

/* DATEPICKER */

.datepicker {
  @apply
    bg-white
    text-center
}

.datepicker--button {
  @apply
    rounded
    focus:ring-2
    focus:ring-indigo-200
    py-1
    px-2
}

.datepicker--weekday-bar {
  @apply
     mb-2
}

.datepicker--weekday {
  @apply
    text-sm 
    font-semibold 
}

.datepicker-day-fixed {
  @apply
    cursor-pointer
    rounded
    text-sm
    py-1
    mx-1
    my-1
}

.datepicker--day {
  @apply
    datepicker-day-fixed;
  @apply
    hover:bg-gray-100
}
    .datepicker--day--today {
      @apply  
        hover:bg-gray-50
        text-indigo-500
        font-extrabold !important
    }
    .datepicker--day--partially-selected-state {
      @apply
        bg-gray-300
        font-semibold
        text-gray-500
    }
    .datepicker--day--selected-state {
      @apply
        bg-indigo-400
        hover:bg-indigo-600
        font-semibold
        text-white
    }

.datepicker--adjacent-month-day {
  @apply
    datepicker-day-fixed;
  @apply  
    text-gray-200
    pointer-events-none
}

.datepicker--footer {
  @apply
    bg-gray-100
    text-sm
    font-semibold
    py-1
}

/* DATEPICKER FLAT */

.datepicker-flat {
  @apply
    bg-white
    text-center
}

.datepicker-flat--button {
  @apply
    rounded
    focus:ring-2
    focus:ring-indigo-200
    py-1
    px-2
}

.datepicker-flat--weekday-bar {
  @apply
     mb-2
}

.datepicker-flat--weekday {
  @apply
    font-semibold 
}

.datepicker-flat--day-fixed {
  @apply
    cursor-pointer
    rounded-lg
    text-sm
    py-2
    px-2
    mx-1
    my-1
}

.datepicker-flat--day {
  @apply
    datepicker-flat--day-fixed;
  @apply
    hover:bg-gray-100
}
    .datepicker-flat--day--partially-selected-state {
      @apply
        bg-gray-300
        font-semibold
        text-gray-500
    }
    .datepicker-flat--day--selected-state {
      @apply
        bg-indigo-400
        hover:bg-indigo-600
        font-semibold
        text-white
    }

.datepicker-flat--today {
  @apply  
    hover:bg-gray-50
    text-indigo-500
    font-extrabold
}

.datepicker-flat--adjacent-month-day {
  @apply
    datepicker-day-fixed;
  @apply  
    text-gray-200
    pointer-events-none
}

.datepicker-flat--footer {
  @apply
    text-sm
    font-semibold
    py-1
}

/* SPINNER */

.spinner {
  @apply
    text-indigo-500
    h-8
    w-8
}
    .spinner--primary {
      @apply
        text-indigo-500
    }
    .spinner--secondary {
      @apply
        text-gray-300
    }
    .spinner--warn {
      @apply
        text-yellow-500
    }
    .spinner--success {
      @apply
        text-green-500
    }
    .spinner--light {
      @apply
        text-gray-200
    }
    .spinner--large {
      @apply
        h-20
        w-20
    }
    .spinner--small {
      @apply
        h-5
        w-5
    }

/* POPOVER */

.popover {
  @apply
    bg-white
    border
    border-gray-300
    rounded-md
    overflow-hidden
    max-w-xs
    shadow-lg
}

.popover--content {
  @apply
    p-5
}

/* POPOVER PLAIN */

.popover-plain {
  @apply
    bg-gray-50
    overflow-hidden
    max-w-xs
    shadow-lg
}

.popover-plain--content {
  @apply
    p-7
}

/* BADGE */

.badge {
  @apply
    rounded-md
    font-bold
    p-1
    px-3
    bg-indigo-500
    text-white
}
    .badge--plain {
      @apply
        rounded
        p-0
    }
    .badge--circle {
      @apply
        rounded-full
        border
        border-white
        w-4
        h-4
        px-0
        py-0 !important;
    }
    .badge--primary {
      @apply
        bg-indigo-500
        text-white
    }
    .badge--secondary {
      @apply
        bg-gray-500
        text-white
    }
    .badge--success {
      @apply
        bg-green-500
        text-white
    }
    .badge--warn {
      @apply
        bg-yellow-500
        text-white
    }
    .badge--danger {
      @apply
        bg-red-500
        text-white
    }
    .badge--small {
      @apply
        text-sm
        p-1
        px-2
    }
    .badge--tiny {
      @apply
        text-xs
        font-semibold
        p-0.5
        px-2
    }


/* PAGINATION */

.pagination-page-fixed {
  @apply
    hover:bg-gray-50
    border
    border-gray-300
    text-sm
    font-medium
    font-semibold
    rounded
    w-12
    h-10
    mx-0.5
}

.pagination-side-controls-fixed {
  @apply
    hover:bg-gray-50
    border
    border-gray-300
    text-sm
    font-medium
    cursor-pointer
    rounded
    w-12
    p-2
}

.pagination--pagination-bar {
  @apply
    rounded-md
}

.pagination--page {
  @apply
    pagination-page-fixed
}
    .pagination--page--active-state {
      @apply  
        hover:bg-indigo-400
        border-indigo-200
        bg-indigo-500
        ring-indigo-200
        text-white
        ring-2
        font-semibold
    }

.pagination--dots {
  @apply
    pagination-page-fixed;
  @apply
    tracking-wider
}

.pagination--next {
  @apply
    pagination-side-controls-fixed;
  @apply  
    rounded-r-md
    ml-0.5
}

.pagination--prev {
  @apply
    pagination-side-controls-fixed;
  @apply  
    rounded-l-md
    mr-0.5
}

/* TOOLTIP */

.tooltip {
  @apply
    bg-gray-700
    text-gray-100
    rounded-md
    z-50
    max-w-sm
}

.tooltip--content {
  @apply
    font-semibold
    p-1
    px-3
}
