.disabled {
  @apply 
    opacity-50
}

/* ICON */

.v-icon {
  @apply
    w-4
    h-4
}
  .v-icon--sm {
    @apply
      h-2
      w-2
  }
  .v-icon--md {
    @apply
      h-6
      w-6
  }
  .v-icon--lg {
    @apply
      h-8
      w-8
  }
 .v-icon--info-type {
    @apply
      text-info-500
  }
  .v-icon--danger-type {
    @apply
      text-danger-500
  }
  .v-icon--success-type {
    @apply
      text-success-500
  }
  .v-icon--warn-type {
    @apply
      text-warn-500
  }
  .v-icon--valid-type {
    @apply
      text-success-500
  }
  .v-icon--invalid-type {
    @apply
      text-danger-500
  }
  .v-icon--light-type {
    @apply
      text-gray-500
  }

/* BUTTON PLAIN */

.button-plain {
  @apply 
    focus:outline-none
}
  .button-plain--bold {
    @apply
      font-semibold
  }

/* BUTTON */

.button {
  @apply
    rounded
    text-sm
    sm:text-base
    font-medium
    focus:outline-none
    focus:ring-4
    focus:ring-primary-200
    text-text-100
    bg-primary-500
    hover:bg-primary-600
    px-4
    py-2
}
    .button--primary {
      @apply
        bg-primary-500
        hover:bg-primary-600
        focus:ring-primary-200
    }
    .button--secondary {
      @apply
        bg-secondary-500
        hover:bg-secondary-600
        focus:ring-secondary-200
    }
    .button--warn {
      @apply
        bg-warn-500
        hover:bg-warn-600
        focus:ring-warn-200
    }
    .button--success {
      @apply
        bg-success-500
        hover:bg-success-600
        focus:ring-success-200
    }
    .button--danger {
      @apply
        bg-danger-500
        hover:bg-danger-600
        focus:ring-danger-200
    }
    .button--pink {
      @apply
        bg-pink-500
        hover:bg-pink-600
        focus:ring-pink-200
    }
    .button--large {
      @apply
        py-2.5
    }
    .button--small {
      @apply
        py-1
    }
    .button--tiny {
      @apply
        py-0.5
        text-sm
    }
    .button--square {
      @apply
        rounded-none
    }
    .button--pill {
      @apply
        rounded-full
    }
    .button--uppercase {
      @apply
        uppercase
    }
    .button--disabled-state {
      @apply
        disabled
        pointer-events-none
    }

/* TABS ROUNDED */

.tabs-rounded--tab-bar {
}

.tabs-rounded--tab {
  @apply
    rounded-md
    whitespace-nowrap
    overflow-ellipsis
    p-2
    px-4
    mx-2
    transition-all
    duration-200
    border-secondary-300
    hover:bg-secondary-50
}
    .tabs-rounded--tab--small {
      @apply
        py-1
        px-2
    }
    .tabs-rounded--tab--active-state {
      @apply
        text-white
        shadow-none
        bg-primary-400
        hover:bg-primary-300
    }

/* TABS */

.tabs--tab-bar {
  @apply
    border-b
    pl-2
    dark:border-dark-600
}

.tabs--tab {
  @apply
    rounded-t-md
    whitespace-nowrap
    overflow-ellipsis
    border
    -mb-px
    -ml-px
    p-2
    px-4
    transition-all
    duration-200
    border-secondary-300
    bg-secondary-100
    hover:bg-secondary-50
    dark:border-dark-600
    dark:bg-dark-900
    dark:hover:bg-dark-800
    dark:text-text-400
    
}
    .tabs--tab--small {
      @apply
        py-1
        px-2
    }
    .tabs--tab--active-state {
      @apply
        bg-white
        hover:bg-white
        shadow-none
        dark:bg-dark-800
        dark:hover:bg-dark-800
        dark:text-text-300;
      border-bottom-color: transparent;
    }

/* TABLE */

.table {
  @apply
    border-collapse
    text-left
}
    .table--fixed-layout {
      @apply
        table-fixed
    }
    .table--busy-state {
      @apply
        disabled
    }

.table--header-row {

}

.table--header-cell {
  @apply
    border-b
    py-2
    px-2
    border-secondary-300
}
    .table--header-cell--bordered {
      @apply
        border
    }
    .table--header-cell--dark {
      @apply
        bg-secondary-700
        text-white
    }
    .table--header-cell--light {
      @apply
        bg-secondary-100
    }

.table--row {
}
    .table--row--striped {
      @apply
        even:bg-secondary-50
    }

.table--cell {
  @apply
    border-t
    transition
    duration-200
    py-2
    px-2
    pr-6
    border-secondary-300
}
    .table--cell--bordered {
      @apply
        border
        py-2
        px-2
        pr-6
        border-secondary-300
    }
    .table--cell--selected-state {
      @apply
        bg-slate-300
    }

.table--caption {
  @apply
    text-left
    py-2
    text-text-600
}

/* LIST */

.list {
  @apply
    border
    divide-y
    rounded-md
    overflow-hidden
    divide-secondary-200
}
    .list--square {
      @apply
        rounded-none
    }
    .list--borderless {
      @apply
        border-0
    }

.list--item {
  @apply
    p-2
    px-4
    hover:bg-secondary-50
}
    .list--item--active-state {
      @apply
        bg-info-500
        hover:bg-info-600
        text-white
    }

/* PROGRESS */

.progress {
  @apply
    rounded
    overflow-hidden
    h-4
    bg-secondary-100
}
    .progress--rounded {
      @apply
        rounded-full
    }
    .progress--transparent {
      @apply
        bg-transparent
    }
    .progress--tiny {
      @apply
        h-1
    }

.progress--progress-bar {
  @apply
    bg-primary-500
}
    .progress--progress-bar--rounded {
      @apply
        rounded-full
    }
    .progress--progress-bar--red {
      @apply
        bg-danger-500
    }
    .progress--progress-bar--gradient {
      @apply
        bg-gradient-to-r
        from-yellow-400
        via-red-500
        to-pink-500
    }

.progress--label {
  @apply
    text-xs
    text-white
    font-bold
}

/* BREADCRUMB */

.breadcrumb {
  @apply
    underline
    text-text-500
}

.breadcrumb--separator {
  @apply
    mx-3
    text-text-500 
}

.breadcrumb--active {
  @apply
    text-text-700 
}

/* FORMTEXT */

.form-text {
  @apply
    text-sm
    mt-1
    text-text-600
}
    .form-text--valid-state {
      @apply
        text-success-600
    }
    .form-text--invalid-state {
      @apply
        text-danger-600
    }

/* SELECT */

.select {
  @apply
    rounded
    border
    focus:outline-none
    focus:ring
    outline-none
    overflow-y-auto
    bg-white
    border-secondary-300
    focus:ring-primary-200
    focus:border-secondary-400
}
    .select--valid-state {
      @apply
        border-success-300
        focus:ring-success-200
    }
    .select--invalid-state {
      @apply
        border-danger-300
        focus:ring-danger-200
    }
    .select--disabled-state {
      @apply
        disabled
    }

/* RANGE */

.range {
  @apply
    rounded
    focus:outline-none
    focus:ring
    outline-none
    bg-white
    border-secondary-300
    focus:ring-primary-200
    focus:border-secondary-400
}
    .range--valid-state {
      @apply
        border-success-300
        focus:ring-success-200
    }
    .range--invalid-state {
      @apply
        border-danger-300
        focus:ring-danger-200
    }
    .range--disabled-state {
      @apply
        disabled
    }

/* RADIO */

.radio {
  @apply
    border
    focus:ring
    focus:ring-offset-0
    focus:outline-none
    transform
    scale-110
    outline-none
    transition-all
    duration-150
    bg-white
    border-secondary-300
    text-primary-500
    focus:border-secondary-400
    focus:ring-primary-200
}
    .radio--valid-state {
      @apply
        text-success-500
        border-success-300
        focus:ring-success-200
    }
    .radio--invalid-state {
      @apply
        text-danger-500
        border-danger-300
        focus:ring-danger-200
    }
    .radio--disabled-state {
      @apply
        disabled
    }

/* CHECKBOX */

.checkbox {
  @apply
    rounded
    border
    focus:ring
    focus:ring-offset-0
    focus:outline-none
    transform
    scale-110
    outline-none
    transition-all
    duration-150
    bg-white
    border-secondary-300
    text-primary-500
    focus:border-secondary-400
    focus:ring-primary-200
}
    .checkbox--valid-state {
      @apply
        text-success-500
        border-success-300
        focus:ring-success-200
    }
    .checkbox--invalid-state {
      @apply
        text-danger-500
        border-danger-300
        focus:ring-danger-200
    }
    .checkbox--disabled-state {
      @apply
        disabled
    }

/* INPUT ROUNDED */

.input-rounded {
  @apply
    rounded-full
    border-0
    focus:outline-none
    focus:ring
    outline-none
    transition
    duration-200
    pl-4
    border-secondary-300
    focus:ring-primary-200
    focus:border-secondary-400
    bg-dark-100
    dark:bg-dark-700
    dark:border-dark-500
    dark:text-dark-300
    dark:focus:ring-primary-300
}
    .input-rounded--valid-state {
      @apply
        border-success-300
        focus:ring-success-200
    }
    .input-rounded--invalid-state {
      @apply
        border-danger-300
        focus:ring-danger-200
    }
    .input-rounded--disabled-state {
      @apply
        disabled
    }

/* INPUT UNDERLINED */

.input-underline {
  @apply
    block
    w-full
    px-0.5
    border-0 
    border-b-2 
    focus:ring-0 
    focus:border-black
    border-secondary-200
}
    .input-underline--valid-state {
      @apply
        border-success-300
    }
    .input-underline--invalid-state {
      @apply
        border-danger-300
    }
    .input-underline--disabled-state {
      @apply
        disabled
    }


/* INPUT */

.input {
  @apply
    rounded
    border
    focus:outline-none
    focus:ring
    outline-none
    transition
    duration-200
    placeholder:italic 
    placeholder:text-slate-400
    bg-white
    border-secondary-300
    focus:ring-primary-200
    focus:border-secondary-400
}
    .input--icon {
      @apply
        pl-8
    }
    .input--valid-state {
      @apply
        text-success-600
        border-success-300
        focus:ring-success-200
    }
    .input--invalid-state {
      @apply
        text-danger-600
        border-danger-300
        focus:ring-danger-200
    }
    .input--disabled-state {
      @apply
        disabled
    }

/* TEXTAREA */

.textarea {
  @apply
    rounded
    border
    focus:outline-none
    focus:ring
    outline-none
    py-1
    px-3
    bg-white
    border-secondary-300
    focus:ring-primary-200
    focus:border-secondary-400
}
    .textarea--valid-state {
      @apply
        border-success-300
        focus:ring-success-200
    }
    .textarea--invalid-state {
      @apply
        border-danger-300
        focus:ring-danger-200
    }
    .textarea--disabled-state {
      @apply
        disabled
    }

/* ALERT */

.alert {
  @apply
    border
    border-l-4
    rounded
    font-semibold
    p-4
}
    .alert--info {
      @apply
        bg-info-300
        text-info-900
        border-info-400
        /* dark:bg-blue-500 */
        /* dark:text-gray-200 */
        /* dark:border-blue-600 */
    }
    .alert--danger {
      @apply
        bg-danger-300
        text-danger-900
        border-danger-400
        /* dark:bg-red-500 */
        /* dark:text-gray-200 */
        /* dark:border-red-600 */
    }
    .alert--warn {
      @apply
        bg-warn-300
        text-warn-900
        border-warn-400
        /* dark:bg-yellow-500 */
        /* dark:text-gray-200 */
        /* dark:border-yellow-600 */
    }
    .alert--success {
      @apply
        bg-success-300
        text-success-900
        border-success-400
    }
    .alert--light {
      @apply
        bg-secondary-50
        text-secondary-600
        border-secondary-200
    }
    .alert--outline {
      @apply
        text-text-800
        bg-white !important
    }
    .alert--borderless {
      @apply 
        border-0 
        border-l-8 !important
    }
    .alert--shadowed {
      @apply
        shadow-md
    }
    .alert--dense {
      @apply
        px-4
        py-1
    }

/* NAVBAR */

.navbar {
  @apply
    w-full
    shadow-md
    bg-secondary-100
}
    .navbar--bottom {
      @apply
        border-t
    }

/* CLOSEBUTTON */

.close-button {
  @apply
    w-5
    h-5
    text-secondary-500
}
    .close-button--small {
      @apply
        w-4
        h-4
    }

/* CHEVRON */

.chevron {
  @apply
    w-4
    h-4
}
  .chevron--right {
    @apply
      ml-2
  }

/* DIVIDER */

.divider {
  @apply
    my-1
}

/* SIDEPANEL */

.sidepanel {
  @apply
    text-left
    bg-secondary-100;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
}

/* MODAL */

.modal {
  @apply
    shadow-lg
    rounded-md
    bg-white
    text-text-900
}
    .modal--square {
      @apply
        rounded-none
    }
    .modal--no-shadow {
      @apply
        shadow-none
    }

.modal--header {
  @apply
    text-lg
    leading-6
    font-medium
    px-6
    py-6
    bg-secondary-50
    text-secondary-900
}

.modal--footer {
  @apply
    px-6
    py-6
}

.modal--content {
  @apply
    px-6
    py-5
}
    .modal--content--relaxed {
      @apply
        px-9
        py-8
    }
    .modal--content--edge-to-edge {
      @apply
        px-0
        py-0
    }

.modal--backdrop {
  @apply
    opacity-50
    bg-black
}

/* CARD */

.card {
  @apply
    border
    rounded-md
    overflow-hidden
    bg-white
    border-secondary-200
}
    .card--menu {
      @apply
        py-2
    }
    .card--shadow {
      @apply
        shadow-md
    }
    .card--square {
      @apply
        rounded-none
    }
    .card--borderless {
      @apply
        border-0
    }
    .card--hoverable {
      @apply
        hover:shadow-lg
        transition-all
    }
    .card--rounded-extra {
      @apply
        rounded-lg
    }

/* CARD FLAT */

.card-flat {
  @apply
    shadow
    overflow-hidden
    bg-white
}
    .card-flat--rounded {
      @apply
        rounded
    }
    .card-flat--shadow {
      @apply
        shadow-md
    }

/* DROPDOWN */

.dropdown--item {
  @apply
    w-full
    text-left
    text-sm
    focus:outline-none
    pr-4
    px-6
    py-2
    text-text-700
    hover:bg-secondary-100
    focus:bg-primary-500
    focus:text-white
}
    .dropdown--item--active-state {
      @apply
        text-white
        bg-primary-500
        hover:bg-primary-600
    }
    .dropdown--item--disabled-state {
      @apply
        disabled
        pointer-events-none
    }

.dropdown--header {
  @apply
    text-left
    font-semibold
    text-sm
    px-6
    py-2
}

/* DROPDOWN RELAXED */

.dropdown-relaxed--item {
  @apply
    w-11/12
    focus:outline-none
    rounded
    text-sm
    text-left
    mx-auto
    px-4 
    py-2
    my-1
    hover:bg-secondary-100
    focus:bg-primary-500
    focus:text-white
    text-text-700
}
    .dropdown-relaxed--item--active-state {
      @apply
        text-white
        bg-primary-500
        hover:bg-primary-600
    }
    .dropdown-relaxed--item--disabled-state {
      @apply
        disabled
        pointer-events-none
    }

.dropdown-relaxed--header {
  @apply
    w-11/12
    text-left
    font-semibold
    text-sm
    mx-auto
    px-4
    py-2
    my-1
    uppercase
}

/* DROPDOWN FLAT */

.dropdown-flat--item {
  @apply
    text-left
    w-full
    focus:outline-none
    px-5
    py-3
    text-text-700
    hover:bg-secondary-100
    focus:bg-primary-400
    focus:text-white
}

.dropdown-flat--header {
  @apply
    text-left
    font-semibold
    px-5
    py-4
    text-text-600
}

/* DATEPICKER */

.datepicker {
  @apply
    text-center
    bg-white
}

.datepicker--button {
  @apply
    rounded
    focus:ring-2
    py-1
    px-2
    focus:ring-primary-200
}

.datepicker--weekday-bar {
  @apply
     mb-2
}

.datepicker--weekday {
  @apply
    text-sm 
    font-semibold 
}

.datepicker-day-fixed {
  @apply
    cursor-pointer
    rounded
    text-sm
    py-1
    mx-1
    my-1
}

.datepicker--day {
  @apply
    datepicker-day-fixed;
  @apply
    hover:bg-secondary-100
}
    .datepicker--day--today {
      @apply  
        font-extrabold
        hover:bg-secondary-50
        text-primary-500 !important
    }
    .datepicker--day--partially-selected-state {
      @apply
        font-semibold
        bg-secondary-300
        text-text-500
    }
    .datepicker--day--selected-state {
      @apply
        font-semibold
        bg-primary-400
        hover:bg-primary-600
        text-white
    }

.datepicker--adjacent-month-day {
  @apply
    datepicker-day-fixed;
  @apply  
    pointer-events-none
    text-text-200
}

.datepicker--footer {
  @apply
    text-sm
    font-semibold
    py-1
    bg-secondary-100
}

/* DATEPICKER FLAT */

.datepicker-flat {
  @apply
    text-center
    bg-white
}

.datepicker-flat--button {
  @apply
    rounded
    focus:ring-2
    py-1
    px-2
    focus:ring-primary-200
}

.datepicker-flat--weekday-bar {
  @apply
     mb-2
}

.datepicker-flat--weekday {
  @apply
    font-semibold 
}

.datepicker-flat--day-fixed {
  @apply
    cursor-pointer
    rounded-lg
    text-sm
    py-2
    px-2
    mx-1
    my-1
}

.datepicker-flat--day {
  @apply
    datepicker-flat--day-fixed;
  @apply
    hover:bg-secondary-100
}
    .datepicker-flat--day--partially-selected-state {
      @apply
        font-semibold
        bg-secondary-300
        text-text-500
    }
    .datepicker-flat--day--selected-state {
      @apply
        font-semibold
        bg-primary-400
        hover:bg-primary-600
        text-white
    }

.datepicker-flat--today {
  @apply  
    font-extrabold
    hover:bg-secondary-50
    text-primary-500
}

.datepicker-flat--adjacent-month-day {
  @apply
    datepicker-day-fixed;
  @apply  
    pointer-events-none
    text-text-200
}

.datepicker-flat--footer {
  @apply
    text-sm
    font-semibold
    py-1
}

/* SPINNER */

.spinner-container {
  --spinner-border-speed: 0.75s;
  --spinner-svg-speed: 1s;
  @apply 
    inline-block;
}

.spinner {
  @apply
    h-8
    w-8
    text-primary-500
}
    .spinner--primary {
      @apply
        text-primary-500
    }
    .spinner--secondary {
      @apply
        text-secondary-300
    }
    .spinner--warn {
      @apply
        text-warn-500
    }
    .spinner--success {
      @apply
        text-success-500
    }
    .spinner--light {
      @apply
        text-text-200
    }
    .spinner--large {
      @apply
        h-20
        w-20
    }
    .spinner--small {
      @apply
        h-5
        w-5
    }

/* POPOVER */

.popover {
  @apply
    border
    rounded-md
    overflow-hidden
    max-w-xs
    shadow-lg
    bg-white
    border-secondary-300
}

.popover--content {
  @apply
    p-5
}

/* POPOVER PLAIN */

.popover-plain {
  @apply
    overflow-hidden
    max-w-xs
    shadow-lg
    bg-secondary-50
}

.popover-plain--content {
  @apply
    p-7
}

/* BADGE */

.badge {
  @apply
    rounded-md
    font-bold
    p-1
    px-3
    bg-primary-500
    text-white
}
    .badge--plain {
      @apply
        rounded
        p-0
    }
    .badge--circle {
      @apply
        rounded-full
        border
        w-4
        h-4
        px-0
        py-0
        border-white !important
    }
    .badge--primary {
      @apply
        bg-primary-500
        text-white
    }
    .badge--secondary {
      @apply
        bg-secondary-500
        text-white
    }
    .badge--success {
      @apply
        bg-success-500
        text-white
    }
    .badge--warn {
      @apply
        bg-warn-500
        text-white
    }
    .badge--danger {
      @apply
        bg-danger-500
        text-white
    }
    .badge--small {
      @apply
        text-sm
        p-1
        px-2
    }
    .badge--tiny {
      @apply
        text-xs
        font-semibold
        p-0.5
        px-2
    }


/* PAGINATION */

.pagination-page-fixed {
  @apply
    border
    text-sm
    font-semibold
    rounded
    w-12
    h-10
    mx-0.5
    hover:bg-secondary-50
    border-secondary-300
}

.pagination-side-controls-fixed {
  @apply
    border
    text-sm
    font-medium
    cursor-pointer
    rounded
    w-12
    p-2
    hover:bg-secondary-50
    border-secondary-300
}

.pagination--pagination-bar {
  @apply
    rounded-md
}

.pagination--page {
  @apply
    pagination-page-fixed
}
    .pagination--page--active-state {
      @apply  
        ring-2
        font-semibold
        hover:bg-primary-400
        border-primary-200
        bg-primary-500
        ring-primary-200
        text-white
    }

.pagination--dots {
  @apply
    pagination-page-fixed;
  @apply
    tracking-wider
}

.pagination--next {
  @apply
    pagination-side-controls-fixed;
  @apply  
    rounded-r-md
    ml-0.5
}

.pagination--prev {
  @apply
    pagination-side-controls-fixed;
  @apply  
    rounded-l-md
    mr-0.5
}

/* TOOLTIP */

.tooltip {
  @apply
    rounded-md
    z-50
    max-w-sm
    bg-secondary-700
    text-text-100
}

.tooltip--content {
  @apply
    font-semibold
    p-1
    px-3
}
