/* TEXTAREA */

.textarea {
  @apply
    rounded
    border
    focus:outline-none
    focus:ring
    outline-none
    py-1
    px-3
    bg-white
    border-secondary-300
    focus:border-secondary-400
    focus:ring-primary-200
    dark:text-text-300
    dark:bg-dark-700
    dark:border-dark-500
    dark:focus:ring-primary-300
}
    .textarea--valid-state {
      @apply
        text-success-600
        border-success-300
        focus:ring-success-200
        dark:text-success-600
        dark:border-success-400
        dark:focus:ring-success-300
    }
    .textarea--invalid-state {
      @apply
        text-danger-600
        border-danger-300
        focus:ring-danger-200
        dark:text-danger-600
        dark:border-danger-400
        dark:focus:ring-danger-300
    }
    .textarea--disabled-state {
      @apply
        disabled
    }
