.fade-enter-active,
.fade-leave-active {
  transition: opacity ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: opacity 0.2s ease, transform 0.15s ease;
}
.fade-slide-enter-from,
.fade-slide-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

.fade-scale-f-enter-active,
.fade-scale-f-leave-active {
  transition: opacity 0.15s ease, transform 0.10s ease;
}
.fade-scale-f-enter-from,
.fade-scale-f-leave-to {
  transform: scale(0.96);
  opacity: 0;
}

.fade-scale-m-enter-active,
.fade-scale-m-leave-active {
  transition: opacity 0.2s ease, transform 0.15s ease;
}
.fade-scale-m-enter-from,
.fade-scale-m-leave-to {
  transform: scale(0.96);
  opacity: 0;
}

.fade-scale-s-enter-active,
.fade-scale-s-leave-active {
  transition: opacity 0.3s ease, transform 0.2s ease;
}
.fade-scale-s-enter-from,
.fade-scale-s-leave-to {
  transform: scale(0.96);
  opacity: 0;
}
