@import 'form-shared.css';

/* AUTOCOMPLETE */

.autocomplete--menu {
  @apply
    border
    rounded-md
    bg-white
    border-secondary-200
    dark:text-text-400
    dark:bg-dark-800
    dark:border-dark-700
}
    .autocomplete--menu--shadow {
      @apply
        shadow-md
        dark:shadow-lg
        dark:shadow-black/30
    }

.autocomplete--item {
  @apply
    w-full
    text-left
    focus:outline-none
    cursor-pointer
    px-6
    py-4
    text-text-700
    focus:text-white
    hover:bg-secondary-100
    focus:bg-primary-500
    dark:text-text-300
    dark:focus:text-white
    dark:hover:bg-dark-700
    dark:focus:bg-primary-500
}
    .autocomplete--item--dense {
      @apply
        py-2 !important
    }
    .autocomplete--item--disabled-state {
      @apply
        disabled
        pointer-events-none
    }

.autocomplete--match {
  @apply
    match
}
