/* FORMTEXT */

  .form-text {
    @apply
      text-sm
      mt-1
      text-text-600
      dark:text-text-400;

      &--valid-state {
        @apply
          text-success-600
          dark:text-success-500
      }
      &--invalid-state {
        @apply
          text-danger-600
          dark:text-danger-500
      }
  }
