.form--base {
  @apply
    rounded
    border
    focus:outline-none
    focus-within:ring
    outline-none
    transition-shadow
    duration-200
    bg-white
    border-secondary-300
    focus-within:border-secondary-400
    focus-within:ring-primary-200
    dark:text-text-300
    dark:bg-dark-700
    dark:border-dark-500
    dark:focus-within:ring-primary-300
}

.form--valid {
  @apply
    text-success-600
    border-success-300
    focus-within:ring-success-200
    dark:text-success-600
    dark:border-success-400
    dark:focus-within:ring-success-300
}

.form--invalid {
  @apply
    text-danger-600
    border-danger-300
    focus-within:ring-danger-200
    dark:text-danger-600
    dark:border-danger-400
    dark:focus-within:ring-danger-300
}

.form--icon {
  @apply
    w-6
    h-6
    text-text-400
    dark:text-gray-400
}

.form--label {
  @apply
    text-sm
    pb-1
}

.disabled {
  @apply 
    opacity-50
}

.match {
  @apply
    bg-secondary-100
    dark:bg-dark-600
}
