.rounded-input {
  @apply
    rounded-full
    border-0
    focus-within:ring
    transition-shadow
    duration-200
    pl-4
    bg-dark-100
    border-secondary-300
    focus-within:ring-primary-200
    dark:text-dark-300
    dark:bg-dark-700
    dark:border-dark-500
    dark:focus-within:ring-primary-300;

    &--valid-state {
      @apply
        text-success-600
        border-success-300
        focus-within:ring-success-200
        dark:text-success-600
        dark:border-success-400
        dark:focus-within:ring-success-300
    }
    &--invalid-state {
      @apply
        text-danger-600
        border-danger-300
        focus-within:ring-danger-200
        dark:text-danger-600
        dark:border-danger-400
        dark:focus-within:ring-danger-300
    }

    &__icon {
      @apply
        w-6
        h-6
        text-text-400
        dark:text-gray-400
    }

    &__label {
      @apply
        text-sm
        pb-1
    }
}
