.underlined-input {
  @apply
    border-0 
    border-b-2 
    focus-within:ring-0 
    px-0.5
    bg-transparent
    focus-within:border-black
    border-secondary-400
    dark:text-dark-300
    dark:border-dark-500;

    &--valid-state {
      @apply
        text-success-600
        border-success-300
        focus-within:ring-success-200
        dark:text-success-600
        dark:border-success-400
        dark:focus-within:ring-success-300
    }
    &--invalid-state {
      @apply
        text-danger-600
        border-danger-300
        focus-within:ring-danger-200
        dark:text-danger-600
        dark:border-danger-400
        dark:focus-within:ring-danger-300
    }

    &__icon {
      @apply
        w-6
        h-6
        text-text-400
        dark:text-gray-400;

        &--if-focused {
          @apply
            hidden
            group-focus-within:block
        }
        &--valid {
          @apply
            text-success-400
            dark:text-success-400
        }
        &--invalid {
          @apply
            text-danger-400
            dark:text-danger-400
        }
    }

    &__label {
      @apply
        text-sm
        pb-1
    }
}
