  .radio {
    @apply
      scale-110
      border
      focus:ring
      focus:ring-offset-0
      focus:outline-none
      transform
      outline-none
      transition-shadow
      duration-150
      text-primary-500
      bg-white
      border-secondary-300
      focus:ring-primary-200
      dark:text-primary-500
      dark:bg-dark-800
      dark:checked:bg-current
      dark:checked:border-current
      dark:border-dark-700
      dark:focus:ring-primary-200;

      &--valid-state {
        @apply
          text-success-500
          border-success-300
          focus:ring-success-200
          dark:text-success-500
          dark:border-success-400
          dark:focus:ring-success-300
      }
      &--invalid-state {
        @apply
          text-danger-500
          border-danger-300
          focus:ring-danger-200
          dark:text-danger-500
          dark:border-danger-400
          dark:focus:ring-danger-300
      }

  &__label {
    @apply
      ml-4
  }
  }
