:root {
  --select-transition-duration: 0.2s;
  --select-max-menu-height: 400px;
}

.select {
  &--item {
    @apply
      w-full
      text-left
      focus:outline-none
      cursor-pointer
      px-6
      py-4
      transition-colors
      text-text-800
      dark:text-text-300
      hover:bg-secondary-100
      dark:hover:bg-dark-600;

      &--dense {
        @apply
          py-2 !important
      }
      &--active-state {
        @apply
          text-text-800
          dark:text-text-800
          bg-primary-500
          hover:bg-primary-600
          dark:bg-primary-400
          dark:hover:bg-primary-600
      }
  }

  &--match {
    @apply
      match
  }
}
