/* TABS */

.tabs-material-tab-fixed {
  @apply
    -mb-px
    -ml-px
    p-2
    px-4
}

.tabs-material--tab {
  @apply
    tabs-material-tab-fixed;
  @apply
    hover:bg-gray-50
}
    .tabs-material--tab--active-state {
      @apply
        bg-white
        shadow-none
        border-b-2
        border-indigo-500
    }

.tabs-material--tab-bar {
  @apply
    border-b
}

/* LIST */

.list-material {
}
    .list-material--round {
      @apply
        rounded-md
    }
    .list-material--borderless {
      @apply
        border-0
    }

.list-material--item {
  @apply
    border
    border-gray-100
    hover:bg-gray-50
    shadow-md
    p-2
    px-4
    my-1
    transition-all
}
    .list-material--item--active-state {
      @apply
        border-blue-600
        bg-blue-500
        hover:bg-blue-600
        text-white
        border-l-4
    }
