/* BUTTON */

.button-fixed {
  @apply
    rounded
    text-sm
    sm:text-base
    font-medium
    text-white
    focus:outline-none
    focus:ring-4
    px-4
    py-2
}
.button-default {
  @apply
    button-fixed;
  @apply
    bg-indigo-500
    hover:bg-indigo-600
    focus:ring-indigo-200
}
.button-primary {
  @apply
    button-fixed;
  @apply
    bg-indigo-500
    hover:bg-indigo-600
    focus:ring-indigo-200
}
.button-secondary {
  @apply
    button-fixed;
  @apply
    bg-gray-500
    hover:bg-gray-600
    focus:ring-gray-200
}
    .button-link {
      @apply 
        focus:outline-none
    }
    .button-yellow {
      @apply
        bg-yellow-500
        hover:bg-yellow-600
        focus:ring-yellow-200
    }
    .button-green {
      @apply
        bg-green-500
        hover:bg-green-600
        focus:ring-green-200
    }
    .button-red {
      @apply
        bg-red-500
        hover:bg-red-600
        focus:ring-red-200
    }
    .button-outline {
      @apply
        border
        border-blue-500
        bg-transparent
        hover:bg-transparent
        text-blue-500
    }
    .button-small {
      @apply
        py-1
    }
    .button-tiny {
      @apply
        py-0.5
        text-sm
    }
    .button-large {
      @apply
        py-2.5
    }
    .button-square {
      @apply
        rounded-none
    }
    .button-pill {
      @apply
        rounded-full
    }
    .button-uppercase {
      @apply
        uppercase
    }

/* TABS */

.tabBar-tabs-default {
  @apply
    border-b
    pl-2
}

.tab-tabs-default {
  @apply
    border
    rounded-t-md
    border-gray-300
    -mb-px
    -ml-px
    p-2
    px-4
    whitespace-nowrap
    overflow-ellipsis
    no-underline
    bg-gray-100
    hover:bg-gray-50
}
    .tab-tabs-small {
      @apply
        p-0
    }
    .tab-tabs-active-state {
      @apply
        bg-white
        hover:bg-white
        shadow-none;
      border-bottom-color: transparent;
    }

/* TABLE */

.table-default {
  @apply
    bg-white
    border-collapse
}
    .table-busy {
      @apply
        opacity-50
    }

/* .table-fixed { */
/*   @apply */
/*     table-fixed */
/* } */

.headerRow-table {

}

.header-cell-table-default {
  @apply
    border-b
    border-gray-300
    py-2
    px-2
}
    .header-cell-table-bordered {
      @apply
        border
    }
    .headerCell-table-dark {
      @apply
        bg-gray-700
        text-white
    }
    .headerCell-table-light {
      @apply
        bg-gray-100
    }

.row-table {

}

.cell-table-default {
  @apply
    border-t
    border-gray-300
    transition
    duration-200
    py-2
    px-2
    pr-6
}
    .cell-table-bordered {
      @apply
        border
        border-t
        border-gray-300
        py-2
        px-2
        pr-6
    }

.selected-default_table {
  @apply
    bg-gray-100
    border-t
    border-gray-300
    transition
    duration-200
    py-2
    px-2
    pr-6
}

.caption-table-default {
  @apply
    text-gray-600
    text-left
    py-2
}

/* LIST */

.list-default {
  @apply
    border
    divide-y
    divide-gray-200
    rounded-md
    overflow-hidden
}
    .list-square {
      @apply
        rounded-none
    }
    .list-borderless {
      @apply
        border-0
    }

.item-list-default {
  @apply
    p-2
    px-4
    hover:bg-gray-50
}
    .item-list-active-state {
      @apply
        bg-blue-500
        hover:bg-blue-600
        text-white
    }

/* PROGRESS */

.progress-default {
  @apply
    bg-gray-100
    rounded
    overflow-hidden
    h-4
}
    .progress-transparent {
      @apply
      bg-transparent
    }
    .progress-tiny {
      @apply
        h-1
    }

.progressBar-progress-default {
  @apply
    bg-indigo-500
}
    .progressBar-progress-gradient {
      @apply
        bg-gradient-to-r
        from-yellow-400
        via-red-500
        to-pink-500
    }

.label-progress-default {
  @apply
    text-xs
    text-white
    font-bold
}

/* BREADCRUMB */

.breadcrumb-default {
  @apply
    text-blue-500
    underline
}

.breadcrumb-separator-default {

}

/* FORMTEXT */

.form-text-default {
  @apply
    text-sm
    text-gray-600
    mt-1
}

/* SELECT */

.select-default {
  @apply
    rounded
    border
    bg-white
    border-gray-300
    focus:outline-none
    focus:ring
    focus:ring-indigo-200
    focus:border-gray-400
    outline-none
    overflow-y-auto
}
    .select-valid-state {
      @apply
        border-green-300
        focus:ring-green-200
    }
    .select-invalid-state {
      @apply
        border-red-300
        focus:ring-red-200
    }
    .select-disabled-state {
      @apply
        opacity-50
    }

/* RANGE */

.range-default {
  @apply
    rounded
    bg-white
    border-gray-300
    focus:outline-none
    focus:ring
    focus:ring-indigo-200
    focus:border-gray-400
    outline-none
}
    .range-valid-state {
      @apply
        border-green-300
        focus:ring-green-200
    }
    .range-invalid-state {
      @apply
        border-red-300
        focus:ring-red-200
    }
    .range-disabled-state {
      @apply
        opacity-50
    }

/* RADIO */

.radio-default {
  @apply
    border
    bg-white
    border-gray-300
    text-indigo-500
    focus:border-gray-400
    focus:ring
    focus:ring-indigo-200
    focus:ring-offset-0
    focus:outline-none
    transform
    scale-110
    outline-none
}
    .radio-valid-state {
      @apply
        text-green-500
        border-green-300
        focus:ring-green-200
    }
    .radio-invalid-state {
      @apply
        text-red-500
        border-red-300
        focus:ring-red-200
    }
    .radio-disabled-state {
      @apply
        opacity-50
    }

/* CHECKBOX */

.checkbox-default {
  @apply
    rounded
    border
    bg-white
    border-gray-300
    text-indigo-500
    focus:border-gray-400
    focus:ring
    focus:ring-indigo-200
    focus:ring-offset-0
    focus:outline-none
    transform
    scale-110
    outline-none
}
    .checkbox-valid-state {
      @apply
        text-green-500
        border-green-300
        focus:ring-green-200
    }
    .checkbox-invalid-state {
      @apply
        text-red-500
        border-red-300
        focus:ring-red-200
    }
    .checkbox-disabled-state {
      @apply
        opacity-50
    }

/* INPUT */

.input-default {
  @apply
    rounded
    border
    bg-white
    border-gray-300
    focus:outline-none
    focus:ring
    focus:ring-indigo-200
    focus:border-gray-400
    outline-none
}
    .input-valid-state {
      @apply
        border-green-300
        focus:ring-green-200
    }
    .input-invalid-state {
      @apply
        border-red-300
        focus:ring-red-200
    }
    .input-disabled-state {
      @apply
        opacity-50
    }

/* TEXTAREA */

.textarea-default {
  @apply
    rounded
    border
    bg-white
    border-gray-300
    focus:outline-none
    focus:ring
    focus:ring-indigo-200
    focus:border-gray-400
    outline-none
    py-1
    px-3
}
    .textarea-valid-state {
      @apply
        border-green-300
        focus:ring-green-200
    }
    .textarea-invalid-state {
      @apply
        border-red-300
        focus:ring-red-200
    }
    .textarea-disabled-state {
      @apply
        opacity-50
    }

/* ALERT */

.alert-default {
  @apply
    bg-blue-100
    border
    border-blue-200
    border-l-4
    rounded
    font-semibold
    p-4
}
    .alert-blue {
      @apply
        bg-yellow-100
        border-yellow-200
    }
    .alert-danger {
      @apply
        bg-red-100
        border-red-200
    }
    .alert-success {
      @apply
        bg-green-100
        border-green-200
    }
    .alert-light {
      @apply
        bg-gray-100
        border-gray-200
    }

/* NAVBAR */

.navbar-default {
  @apply
    w-full
    bg-gray-100
    shadow-md
}
    .navbar-bottom {
      @apply
        border-t
    }

/* CLOSEBUTTON */

.closeButton-default {
  @apply
    text-gray-600
    opacity-60
    w-6
    h-6
}

/* SIDEPANEL */

.sidepanel-default {
  @apply
    bg-gray-100
    text-left;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.35);
}

/* MODAL */

.modal-default {
  @apply
    bg-white
    shadow-lg
    rounded-md
    text-gray-900
}
    .modal-square {
      @apply
        rounded-none
    }

.header-modal-default {
  @apply
    bg-gray-50
    text-gray-900
    text-lg
    leading-6
    font-medium
    px-6
    py-6
}

.footer-modal-default {
  @apply
    px-6
    py-6
}

.content-modal-default {
  @apply
    px-6
    py-5
}
    .content-modal-relaxed {
      @apply
        px-9
        py-8
    }
    .content-modal-edge-to-edge {
      @apply
        px-2
        py-5
    }

.backdrop-modal-default {
  @apply
    bg-black
    opacity-50
}

/* CARD */

.card-default {
  @apply
    bg-white
    border
    border-gray-200
    rounded
    overflow-hidden
}
    .card-shadow {
      @apply
        shadow-md
    }
    .card-square {
      @apply
        rounded-none
    }
    .card-borderless {
      @apply
        border-0
    }
    .card-hoverable {
      @apply
        hover:shadow-lg
        transition-all
    }

/* DROPDOWN */

.item-dropdown-default {
  @apply
    text-left
    w-full
    focus:outline-none
    pr-4
    text-black
    hover:bg-gray-50
    focus:bg-indigo-500
    focus:text-white
}
    .item-dropdown-green {
      @apply
        bg-green-500
    }
    .item-dropdown-active-state {
      @apply
        text-white
        bg-indigo-500
        hover:bg-indigo-600
    }
    .item-dropdown-disabled-state {
      @apply
        opacity-50
        pointer-events-none
    }

.header-dropdown-default {
  @apply
    text-left
    font-semibold
    text-sm
    px-4
    py-2
}

/* DATEPICKER */

.day-datepicker-fixed {
  @apply
    cursor-pointer
    rounded
    text-sm
    py-1
    mx-1
    my-1
}

.datepicker-default {
  @apply
    bg-white
    text-center
}

.button-datepicker-default {
  @apply
    rounded
    focus:ring-2
    focus:ring-indigo-200
    py-1
    px-2
}

.day-datepicker-default {
  @apply
    datepicker-day-fixed;
  @apply
    hover:bg-gray-50
}

.daySelected-datepicker-default {
  @apply
    datepicker-day-fixed;
  @apply
    bg-indigo-400
    hover:bg-indigo-600
    font-semibold
    text-white
}

.today-datepicker-default {
  @apply
    datepicker-day-fixed;
  @apply  
    hover:bg-gray-50
    text-indigo-500
    font-bold
}

.adjacentMonthDay-datepicker-default {
  @apply
    datepicker-day-fixed;
  @apply  
    text-gray-200
    pointer-events-none
}

.footer-datepicker-default {
  @apply
    bg-gray-100
    text-sm
    font-semibold
    py-1
}

/* SPINNER */

.spinner-default {
  @apply
    text-indigo-500
    h-8
    w-8
}
    .spinner-blue {
      @apply
        text-blue-500
    }
    .spinner-yellow {
      @apply
        text-yellow-500
    }
    .spinner-green {
      @apply
        text-green-500
    }
    .spinner-gray {
      @apply
        text-gray-300
    }
    .spinner-large {
      @apply
        h-20
        w-20
    }
    .spinner-small {
      @apply
        h-5
        w-5
    }

/* POPOVER */

.popover-default {
  @apply
    bg-white
    border
    border-gray-300
    rounded-md
    overflow-hidden
    max-w-xs
    shadow-lg
}

.content-popover-default {
  @apply
    p-5
}

/* BADGE */

.badge-fixed {
  @apply
    rounded-md
    font-bold
    p-1
    px-3
}

.badge-default {
  @apply
    badge-fixed;
  @apply
    bg-indigo-500
    text-white
}
.badge-primary {
  @apply
    badge-fixed;
  @apply  
    bg-indigo-500
    text-white
}
.badge-secondary {
  @apply
    badge-fixed;
  @apply  
    bg-gray-500
    text-white
}
    .badge-green {
      @apply
        bg-green-500
        text-white
    }
    .badge-yellow {
      @apply
        bg-yellow-500
        text-white
    }
    .badge-red {
      @apply
        bg-red-500
        text-white
    }
    .badge-small {
      @apply
        text-sm
        p-1
        px-2
    }
    .badge-tiny {
      @apply
        text-xs
        font-semibold
        p-0.5
        px-2
    }

.badge-circle {
  @apply
    rounded-full
    border
    border-white
    w-4
    h-4
    px-0
    py-0
}

/* PAGINATION */

  .pagination-page-fixed {
    @apply
      hover:bg-gray-50
      border
      border-gray-300
      text-sm
      font-medium
      font-semibold
      rounded
      w-12
      h-10
      mx-0.5
  }

  .pagination-side-controls-fixed {
    @apply
      hover:bg-gray-50
      border
      border-gray-300
      text-sm
      font-medium
      cursor-pointer
      rounded
      w-12
      p-2
  }

  .pagination-pagination-bar-default {
    @apply
      rounded-md
  }

  .pagination-page-default {
    @apply
      pagination-page-fixed
  }
    .pagination-page-active-state {
      @apply  
        hover:bg-indigo-400
        border-indigo-200
        bg-indigo-500
        ring-indigo-200
        text-white
        ring-2
        font-semibold
    }
  
  .pagination-dots-default {
    @apply
      pagination-page-fixed;
    @apply
      tracking-wider
  }

  .pagination-next-default {
    @apply
      pagination-side-controls-fixed;
    @apply  
      rounded-r-md
      ml-0.5
  }

  .pagination-prev-default {
    @apply
      pagination-side-controls-fixed;
    @apply  
      rounded-l-md
      mr-0.5
  }

/* TOOLTIP */

.tooltip-default {
  @apply
    bg-gray-700
    text-gray-100
    rounded-md
    z-50
}

.content-tooltip-default {
  @apply
    font-semibold
    p-1
    px-3
}
